html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 1px 2px 20px;
    margin: -1%;
    padding: 0;
    color: rgb(52, 163, 163);
}

.nav-center {
    display: flex;
    justify-content: center;
    background-color: rgb(158, 220, 220);
    align-items: center;
}

h4 {
    text-align: center;
    display: inline-block;
    font-size: 25px;
    margin: 0%;
    padding: 0%;
}

ul {
    display: inline-block;
}

li {
    list-style: none;
    display: inline;
    margin: 10px
}

a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(8, 113, 113);
}

a:hover{
    transition-delay:.5s;
    color:rgb(36, 221, 221) ;
    
}

.container {
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    top: 40vh;
}

.buttonClass {
    text-align: center;
    position: relative;
    top: 42vh;

}

#btn {

    border-color: white;
    color:rgba(41, 109, 136, 1);
    background-color:  rgb(255, 255, 255);

    height: 30px;
    width: 90px;
    border-radius: 20px;
}

button#btn:hover{
    background-color:rgba(96, 154, 154, 0.286) ;
    transition-delay: .5s;
}


h2 {
    background-color: black;

    color: aliceblue;
    display: inline-block;
    font-size: xx-large;
    border-radius: 6px;
    margin: 3px;
    padding: 10px;

}